plugins/cardwall/www/resources/xml_project_cardwall.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="cardwall">
      <element name="trackers">
        <zeroOrMore>
          <element name="tracker">
            <attribute name="id">
              <data type="string"/>
            </attribute>
          </element>
        </zeroOrMore>
      </element>
    </element>
  </start>
</grammar>
