plugins/cardwall/www/resources/xml_project_cardwall.rnc

namespace xsd = "http://www.w3.org/2001/XMLSchema"

grammar {

    start = element cardwall {

        element trackers  {

            element tracker {
                attribute id { xsd:string },

                element columns {
                    element column {
                        attribute label { xsd:string }
                    }*
                }?
            }*

        }
    }
}
