plugins/testmanagement/resources/testmanagement_external_fields.rnc

namespace xsd = "http://www.w3.org/2001/XMLSchema"


element externalField {
    attribute type { 'ttmstepdef' | "ttmstepexec" },
    attribute ID { xsd:ID },
    attribute rank { xsd:int },
    attribute id { xsd:long }?,
    attribute tracker_id { xsd:long }?,
    attribute parent_id { xsd:long }?,
    element name { xsd:string { minLength = "1" pattern = "\s*[a-z0-9_\-]+\s*" } },
    element label { xsd:string },
    element description { xsd:string }?
}
