plugins/testmanagement/resources/testmanagement_external_changeset.rnc

namespace xsd = "http://www.w3.org/2001/XMLSchema"
grammar {
     start = element external_field_change {
            attribute field_name { xsd:string },
            attribute type {"ttmstepdef"},
            element step { step_value}+
     }

     step_value =
     element description {
          attribute format {"text" | "html"},
          xsd:string
     },
     element expected_results {
          attribute format {"text" | "html"},
          xsd:string
     }
}







