plugins/tracker/www/resources/tracker.rnc

namespace xsd = "http://www.w3.org/2001/XMLSchema"

grammar {

    start = element tracker {

        # old ids
        attribute id { xsd:string }?,
        attribute parent_id { xsd:string }?,
        attribute group_id { xsd:int }?,
        # these attributes should be optional and have default values
        attribute allow_copy { "0" | "1" }?, # default is false
        attribute instantiate_for_new_projects { "0" | "1" }?, # default is false
        attribute stop_notification { "0" | "1" }?, # default is false

        # these elements are not used, they are provided by the user during the import
        element name { xsd:string }?,
        element item_name { xsd:string }?,
        element description { xsd:string }?,
        element color { xsd:string }?,

        element submit_instructions { xsd:string }?,
        element browse_instructions { xsd:string }?,


        element cannedResponses {
            element cannedResponse {
                attribute id { xsd:int }?,
                attribute tracker { xsd:int }?,
                element title { xsd:string },
                element body { xsd:string }
            }*
        },

        formElementsContent,

        element semantics {
            element semantic { semanticContent }*
        }?,

        element dependencies {
            element rule { listRuleContent }*
        }?,

        element rules {
            element date_rules { 
                element rule {dateRuleContent }*
            }?,
            element list_rules { 
                element rule {listRuleContent }*
            }?
            
        }?,

        element reports {
            element report { reportContent }*
        }?,

        element workflow {
            element field_id {
                attribute REF { xsd:IDREF }
            }?,
            element is_used {xsd:int}?,
            element transitions {
                element transition { transitionContent }*
            }?
        }*,

        element permissions {
            element permission {
                attribute REF { xsd:IDREF }?,
                attribute scope { "tracker" | "field" },
                attribute ugroup { xsd:string },
                attribute type { xsd:string }
            }*
        }?
    }


    formElementsContent =
        element formElements {
            element formElement { formElementContent }*
        }?


    formElementContent =
        # ID is internal to the XML file
        attribute ID { xsd:ID },
        attribute rank { xsd:int },
        # id is the initial id of the exported field
        attribute id { xsd:int }?,
        attribute tracker_id { xsd:int }?,
        attribute parent_id { xsd:int }?,
        # these attributes should be optional and have  default values
        attribute use_it { "0" | "1" }?, # default is true
        attribute scope { "S" | "P" }?, # default is 'P'
        attribute required { "0" | "1" }?, # default is false
        attribute notifications { "0" | "1" }?, # default is false

        element name { xsd:string },
        element label { xsd:string },
        element description { xsd:string }?,

        element properties {
            attribute maxchars { xsd:int }?,
            attribute size { xsd:int }?,
            attribute rows { xsd:int }?,
            attribute cols { xsd:int }?,
            attribute static_value { xsd:string }?,
            attribute default_value { xsd:string }?,
            attribute hint { xsd:string }?,
            attribute target_field_name { xsd:string }?,
            attribute use_capacity { "0" | "1" }?,
            attribute include_weekends  { "0" | "1" }?
        }?,

        (
            (
                attribute type { xsd:string }
            )
        |
            (
                attribute type { "fieldset" | "column" },
                formElementsContent?
            )
        |
            (
                attribute type { "sb" | "msb" | "tbl" | "cb" },
                bindContent
            )
        )

    bindContent =
        element bind {
            (
                (
                    attribute type { "static" },
                    attribute is_rank_alpha { "0" | "1" }
                )
            |
                (
                    attribute type { "users" }
                )
            |
                (
                    attribute type { "ugroups" }
                )
            ),
            element items {
                element item {
                    attribute ID { xsd:ID }?,
                    attribute label { xsd:string },
                    attribute is_hidden { "0" | "1" }?,
                    element description { xsd:string }?
                }*
            }?,
            element decorators {
                element decorator {
                    attribute REF { xsd:IDREF },
                    attribute r { xsd:int },
                    attribute g { xsd:int },
                    attribute b { xsd:int }
                }*
            }?,
            element default_values {
                element value {
                    attribute REF { xsd:IDREF }
                }*
            }?
        }

    transitionContent =
        element from_id {
            attribute REF { xsd:string }
        },
        element to_id {
            attribute REF { xsd:string }
        },
        element postactions {
            element postaction_field_date {
                attribute valuetype { xsd:int },
                element field_id {
                    attribute REF { xsd:IDREF }
                }
            }*,
            element postaction_field_int {
                attribute value { xsd:int },
                element field_id {
                    attribute REF { xsd:IDREF }
                }
            }*,
            element postaction_field_float {
                attribute value { xsd:float },
                element field_id {
                    attribute REF { xsd:IDREF }
                }
            }*,
            element postaction_ci_build {
                attribute job_url { xsd:string }
            }*
        }?,
        (
            (
                conditionPermissionsContent
            )
        |
            (
                element conditions {
                    element condition {
                        attribute type { "perms" },
                        conditionPermissionsContent
                    }?,
                    element condition {
                        attribute type { "notempty" },
                        conditionFieldNotEmptyContent
                    }?
                }?
            )
        )

    conditionPermissionsContent =
        element permissions {
            element permission {
                attribute ugroup { xsd:string }
            }*
        }

    conditionFieldNotEmptyContent =
        element field {
            attribute REF { xsd:IDREF }
        }

    listRuleContent =
        (
            element source_field {
                attribute REF { xsd:IDREF }
            },
            element target_field {
                attribute REF { xsd:IDREF }
            },
            element source_value {
                attribute REF { xsd:IDREF }
            },
            element target_value {
                attribute REF { xsd:IDREF }
            }
        )
    dateRuleContent =
        (
            element source_field {
                attribute REF { xsd:IDREF }
            },
            element target_field {
                attribute REF { xsd:IDREF }
            },
            element comparator {
                attribute type { xsd:string }
            }
        )
    semanticContent =
        (
            (
                attribute type { "title" },
                element shortname {xsd:string},
                element label {xsd:string},
                element description {xsd:string},
                element field {
                    attribute REF { xsd:IDREF }
                }
            )
         |
            (
                attribute type { "status" },
                element shortname {xsd:string},
                element label {xsd:string},
                element description {xsd:string},
                element field {
                    attribute REF { xsd:IDREF }
                },
                element open_values {
                    element open_value {
                        attribute REF { xsd:IDREF }
                    }*
                }
            )
         |
            (
                attribute type { "contributor" },
                element shortname {xsd:string},
                element label {xsd:string},
                element description {xsd:string},
                element field {
                    attribute REF { xsd:IDREF }
                }
            )
         |
            (
                attribute type { "tooltip" },
                element field {
                    attribute REF { xsd:IDREF }
                }*
            )
        |
            (
                attribute type { "initial_effort" },
                element shortname {xsd:string},
                element label {xsd:string},
                element description {xsd:string},
                element field {
                    attribute REF { xsd:IDREF }
                }
            )
         |
            (
                attribute type { "plugin_cardwall_card_fields" },
                element field {
                    attribute REF { xsd:IDREF }
                }*
            )
        )


    reportContent =
        # these attributes should be optional and have  default values
        attribute is_default { "0" | "1" }?, # default is false
        attribute is_query_displayed { "0" | "1" }?, # defaout is true
        # these ids are initial ids of the exported report
        attribute id { xsd:int }?,
        attribute tracker_id { xsd:int }?,
        attribute current_renderer_id { xsd:int }?,
        attribute user_id { xsd:int }?,
        attribute parent_report_id { xsd:int }?,

        element name { xsd:string },
        element description { xsd:string }?,

        element criterias {
            element criteria { criteriaContent }*
        },
        element renderers {
            element renderer { rendererContent }*
        }

    criteriaContent =
        attribute rank { xsd:int },
        # these attributes should be optional and have  default values
        attribute is_advanced { "0" | "1" }?, # default is false
        # these ids are initial ids of the exported report
        attribute id { xsd:int }?,
        attribute report { xsd:int }?,

        element field {
            attribute REF { xsd:IDREF }
        }

    rendererContent =
        element name { xsd:string },
        element description { xsd:string }?,
        attribute id { xsd:int }?,
        attribute report { xsd:int }?,
        attribute rank { xsd:int },
        (
            (
                attribute type { "table" },
                attribute chunksz { xsd:int },
                attribute multisort { xsd:int }?, # default is false
                element columns {
                    element field {
                        attribute REF { xsd:IDREF }
                    }*
                }?,
                element sort {
                    element field {
                        attribute REF { xsd:IDREF }
                    }*
                }?
            )
        |
            (
                attribute type { "plugin_graphontrackersv5" },
                element charts {
                    element chart {
                        attribute width { xsd:int },
                        attribute height { xsd:int },
                        attribute rank { xsd:int },
                        element title { xsd:string },
                        element description { xsd:string }?,
                        (
                            (
                                attribute type { "gantt" },
                                attribute scale { xsd:string }?,
                                attribute as_of_date { xsd:string }?,
                                attribute start { xsd:IDREF }?,
                                attribute due { xsd:IDREF }?,
                                attribute finish { xsd:IDREF }?,
                                attribute righttext { xsd:IDREF }?,
                                attribute summary { xsd:IDREF }?,
                                attribute percentage { xsd:IDREF }?
                            )
                        |
                            (
                                attribute type { "pie" },
                                attribute base { xsd:IDREF }?
                            )
                        |
                            (
                                attribute type { "bar" },
                                attribute base { xsd:IDREF }?,
                                attribute group { xsd:IDREF }?
                            )
                        |
                            (
                                attribute type { "burnup" },
                                attribute start_date { xsd:string }?,
                                attribute duration { xsd:int }?,
                                attribute remaining_field{ xsd:IDREF }?,
                                attribute done_field { xsd:IDREF }?
                            )
                        |
                            (
                                attribute type { "burndown" },
                                attribute start_date { xsd:string }?,
                                attribute duration { xsd:int }?,
                                attribute effort_field{ xsd:IDREF }?
                            )
                        |
                            (
                                attribute type { "cumulative_flow" },
                                attribute start_date { xsd:string }?,
                                attribute stop_date { xsd:string }?,
                                attribute scale { xsd:string }?,
                                attribute effort_field{ xsd:IDREF }?
                            )
                        )
                    }*
                }?
            )
          |
            (
                attribute type { "plugin_cardwall" },
                attribute field_id { xsd:IDREF }?
            )
        )
}
