plugins/kanban/resources/kanban-definition.rnc

kanban_list = attribute title { xsd:string }?,
    attribute is_promoted { xsd:boolean }?,
    element kanban {
         attribute ID { xsd:ID },
         attribute tracker_id { xsd:string },
         attribute name { xsd:string },

         element column {
            attribute REF { xsd:IDREF },
            attribute wip { xsd:long }?
         }*
    }*
