src/common/xml/resources/git-definition.rnc

git = element repository {
    attribute bundle-path { xsd:string } &
    attribute name { xsd:string } &
    attribute description { xsd:string }? &
    element read  { element ugroup { xsd:string }* }? &
    element write { element ugroup { xsd:string }* }? &
    element wplus { element ugroup { xsd:string }* }?
}*
