src/common/xml/resources/mediawiki-definition.rnc

mediawiki =
    attribute pages-backup        { xsd:string }? &
    attribute files-folder-backup { xsd:string }? &
    attribute language            { xsd:string }? &
    element   read-access         { element ugroup { ugroup_name }+ }? &
    element   write-access        { element ugroup { ugroup_name }+ }?
