src/common/xml/resources/svn-definition.rnc

svn =
    # Path to the svn dump file
    attribute dump-file { xsd:string }? &

    # Content of the .SVNAccessFile inline in the XML
    element access-file { xsd:string }? &

    # E-mail subscriptions
    element notification {
        attribute path { xsd:string },
        attribute emails { xsd:string }
    }*
