src/common/xml/resources/ugroups.rnc

namespace xsd = "http://www.w3.org/2001/XMLSchema"

grammar {
    start = element ugroups {
        element ugroup {
            attribute name { xsd:string },
            attribute description { xsd:string },
            element members {
                element member {
                    user_content
                }*
            }
        }+
    }

    user_content =
        attribute format { "username" | "ldap" | "id" },
        xsd:string
}