src/common/xml/resources/users.rnc

namespace xsd = "http://www.w3.org/2001/XMLSchema"

grammar {
    start = element users {
        element user {
            element id { xsd:long },
            element username { xsd:string },
            element realname { xsd:string },
            element email { xsd:string },
            element ldapid { xsd:string }
        }*
    }
}
