plugins/git/www/resources/git.rnc

namespace xsd = "http://www.w3.org/2001/XMLSchema"

grammar {
    start = element git {
        element repository {
            attribute bundle-path { xsd:string } &
            attribute name { xsd:string } &
            attribute description { xsd:string }? &
            element read  { element ugroup-id { xsd:integer }* }? &
            element write { element ugroup-id { xsd:integer }* }? &
            element wplus { element ugroup-id { xsd:integer }* }?
        }*
    }
}
