src/common/xml/resources/project/dashboard.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="dashboards">
    <oneOrMore>
      <element name="dashboard">
        <attribute name="name">
          <data type="string"/>
        </attribute>
      </element>
    </oneOrMore>
  </define>
</grammar>
