src/common/xml/resources/project/tracker-definition.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="artifact-definition.rng"/>
  <include href="triggers.rng"/>
  <include href="workflow.rng"/>
  <include href="timetracking-definition.rng"/>
  <define name="trackers">
    <optional>
      <attribute name="use-natures">
        <data type="boolean"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <element name="tracker">
        <ref name="tracker"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="triggers">
        <ref name="triggers"/>
      </element>
    </optional>
    <optional>
      <element name="references">
        <zeroOrMore>
          <element name="reference">
            <interleave>
              <attribute name="source">
                <data type="string"/>
              </attribute>
              <attribute name="target">
                <data type="string"/>
              </attribute>
            </interleave>
          </element>
        </zeroOrMore>
      </element>
    </optional>
  </define>
  <define name="tracker">
    <optional>
      <!-- old ids -->
      <attribute name="id">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="parent_id">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="group_id">
        <data type="long"/>
      </attribute>
    </optional>
    <optional>
      <!-- these attributes should be optional and have default values -->
      <attribute name="allow_copy">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is false -->
      <attribute name="enable_emailgateway">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is false -->
      <attribute name="instantiate_for_new_projects">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is false -->
      <attribute name="log_priority_changes">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is false -->
      <attribute name="stop_notification">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is false (deprecated, use notifications_level instead) -->
      <attribute name="notifications_level">
        <choice>
          <value>0</value>
          <value>1</value>
          <value>2</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is 0 -->
      <attribute name="is_folder">
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="is_displayed_in_new_dropdown">
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="use_private_comments">
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="should_send_event_in_notification">
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="enable_move_artifacts">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is true -->
      <!-- these elements are not used, they are provided by the user during the import -->
      <element name="name">
        <ref name="non_empty_string"/>
      </element>
    </optional>
    <optional>
      <element name="item_name">
        <data type="string">
          <param name="pattern">[a-zA-Z0-9_]+</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="description">
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="color">
        <choice>
          <value>inca-silver</value>
          <value>chrome-silver</value>
          <value>firemist-silver</value>
          <value>red-wine</value>
          <value>fiesta-red</value>
          <value>coral-pink</value>
          <value>teddy-brown</value>
          <value>clockwork-orange</value>
          <value>graffiti-yellow</value>
          <value>army-green</value>
          <value>neon-green</value>
          <value>acid-green</value>
          <value>sherwood-green</value>
          <value>ocean-turquoise</value>
          <value>surf-green</value>
          <value>deep-blue</value>
          <value>lake-placid-blue</value>
          <value>daphne-blue</value>
          <value>plum-crazy</value>
          <value>ultra-violet</value>
          <value>lilac-purple</value>
          <value>panther-pink</value>
          <value>peggy-pink</value>
          <value>flamingo-pink</value>
          <value>inca_silver</value>
          <value>chrome_silver</value>
          <value>teddy_brown</value>
          <value>red_wine</value>
          <value>fiesta_red</value>
          <value>clockwork_orange</value>
          <value>acid_green</value>
          <value>army_green</value>
          <value>sherwood_green</value>
          <value>ocean_turquoise</value>
          <value>daphne_blue</value>
          <value>lake_placid_blue</value>
          <value>deep_blue</value>
          <value>plum_crazy</value>
          <value>peggy_pink</value>
          <value>flamingo_pink</value>
        </choice>
      </element>
    </optional>
    <optional>
      <element name="submit_instructions">
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="browse_instructions">
        <data type="string"/>
      </element>
    </optional>
    <element name="cannedResponses">
      <zeroOrMore>
        <element name="cannedResponse">
          <optional>
            <attribute name="id">
              <data type="long"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="tracker">
              <data type="long"/>
            </attribute>
          </optional>
          <element name="title">
            <data type="string"/>
          </element>
          <element name="body">
            <data type="string"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
    <ref name="formElementsContent"/>
    <optional>
      <element name="semantics">
        <zeroOrMore>
          <element name="semantic">
            <ref name="semanticContent"/>
          </element>
        </zeroOrMore>
      </element>
    </optional>
    <optional>
      <element name="dependencies">
        <zeroOrMore>
          <element name="rule">
            <ref name="listRuleContent"/>
          </element>
        </zeroOrMore>
      </element>
    </optional>
    <optional>
      <element name="rules">
        <optional>
          <element name="date_rules">
            <zeroOrMore>
              <element name="rule">
                <ref name="dateRuleContent"/>
              </element>
            </zeroOrMore>
          </element>
        </optional>
        <optional>
          <element name="list_rules">
            <zeroOrMore>
              <element name="rule">
                <ref name="listRuleContent"/>
              </element>
            </zeroOrMore>
          </element>
        </optional>
      </element>
    </optional>
    <optional>
      <element name="reports">
        <zeroOrMore>
          <element name="report">
            <ref name="reportContent"/>
          </element>
        </zeroOrMore>
      </element>
    </optional>
    <ref name="workflowContent"/>
    <zeroOrMore>
      <element name="webhooks">
        <oneOrMore>
          <element name="webhook">
            <attribute name="url">
              <data type="string"/>
            </attribute>
          </element>
        </oneOrMore>
      </element>
    </zeroOrMore>
    <optional>
      <element name="permissions">
        <zeroOrMore>
          <element name="permission">
            <optional>
              <attribute name="REF">
                <data type="IDREF"/>
              </attribute>
            </optional>
            <attribute name="scope">
              <choice>
                <value>tracker</value>
                <value>field</value>
              </choice>
            </attribute>
            <attribute name="ugroup">
              <data type="string"/>
            </attribute>
            <attribute name="type">
              <data type="string"/>
            </attribute>
          </element>
        </zeroOrMore>
      </element>
    </optional>
    <optional>
      <element name="artifacts">
        <ref name="artifacts"/>
      </element>
    </optional>
    <optional>
      <element name="timetracking">
        <ref name="timetracking"/>
      </element>
    </optional>
  </define>
  <define name="formElementsContent">
    <optional>
      <element name="formElements">
        <zeroOrMore>
          <element name="formElement">
            <ref name="formElementContent"/>
          </element>
        </zeroOrMore>
      </element>
    </optional>
  </define>
  <define name="formElementContent">
    <!-- ID is internal to the XML file -->
    <attribute name="ID">
      <data type="ID"/>
    </attribute>
    <attribute name="rank">
      <data type="long"/>
    </attribute>
    <optional>
      <!-- id is the initial id of the exported field -->
      <attribute name="id">
        <data type="long"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="tracker_id">
        <data type="long"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="parent_id">
        <data type="long"/>
      </attribute>
    </optional>
    <optional>
      <!-- these attributes should be optional and have  default values -->
      <attribute name="use_it">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is true -->
      <attribute name="scope">
        <choice>
          <value>S</value>
          <value>P</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is 'P' -->
      <attribute name="required">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is false -->
      <attribute name="notifications">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <!-- default is false -->
    <element name="name">
      <ref name="lowercase_alphanum_non_empty_string"/>
    </element>
    <element name="label">
      <data type="string"/>
    </element>
    <optional>
      <element name="description">
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="properties">
        <optional>
          <attribute name="maxchars">
            <data type="long"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="size">
            <data type="long"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="rows">
            <data type="long"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="cols">
            <data type="long"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="static_value">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="default_value">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="hint">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="target_field_name">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="fast_compute">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="use_capacity">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="include_weekends">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="display_time">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="use_cache">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </attribute>
        </optional>
      </element>
    </optional>
    <choice>
      <attribute name="type">
        <data type="string"/>
      </attribute>
      <group>
        <attribute name="type">
          <choice>
            <value>fieldset</value>
            <value>column</value>
          </choice>
        </attribute>
        <optional>
          <ref name="formElementsContent"/>
        </optional>
      </group>
      <group>
        <attribute name="type">
          <choice>
            <value>sb</value>
            <value>msb</value>
            <value>tbl</value>
            <value>cb</value>
            <value>rb</value>
          </choice>
        </attribute>
        <ref name="bindContent"/>
      </group>
    </choice>
  </define>
  <define name="bindContent">
    <element name="bind">
      <choice>
        <group>
          <attribute name="type">
            <value>static</value>
          </attribute>
          <attribute name="is_rank_alpha">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </attribute>
        </group>
        <attribute name="type">
          <value>users</value>
        </attribute>
        <attribute name="type">
          <value>ugroups</value>
        </attribute>
      </choice>
      <optional>
        <element name="items">
          <zeroOrMore>
            <element name="item">
              <optional>
                <attribute name="ID">
                  <data type="ID"/>
                </attribute>
              </optional>
              <attribute name="label">
                <ref name="non_empty_string"/>
              </attribute>
              <optional>
                <attribute name="is_hidden">
                  <choice>
                    <value>0</value>
                    <value>1</value>
                  </choice>
                </attribute>
              </optional>
              <optional>
                <element name="description">
                  <data type="string"/>
                </element>
              </optional>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <element name="decorators">
          <zeroOrMore>
            <element name="decorator">
              <optional>
                <attribute name="REF">
                  <data type="IDREF"/>
                </attribute>
              </optional>
              <choice>
                <ref name="decorator_legacy_color"/>
                <attribute name="tlp_color_name">
                  <data type="string"/>
                </attribute>
              </choice>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <element name="default_values">
          <zeroOrMore>
            <element name="value">
              <choice>
                <attribute name="REF">
                  <data type="IDREF"/>
                </attribute>
                <ref name="tracker_user_content"/>
              </choice>
            </element>
          </zeroOrMore>
        </element>
      </optional>
    </element>
  </define>
  <define name="decorator_legacy_color">
    <attribute name="r">
      <data type="long"/>
    </attribute>
    <attribute name="g">
      <data type="long"/>
    </attribute>
    <attribute name="b">
      <data type="long"/>
    </attribute>
  </define>
  <define name="listRuleContent">
    <element name="source_field">
      <attribute name="REF">
        <data type="IDREF"/>
      </attribute>
    </element>
    <element name="target_field">
      <attribute name="REF">
        <data type="IDREF"/>
      </attribute>
    </element>
    <element name="source_value">
      <choice>
        <attribute name="REF">
          <data type="IDREF"/>
        </attribute>
        <attribute name="is_none">
          <value>1</value>
        </attribute>
      </choice>
    </element>
    <element name="target_value">
      <choice>
        <attribute name="REF">
          <data type="IDREF"/>
        </attribute>
        <attribute name="is_none">
          <value>1</value>
        </attribute>
      </choice>
    </element>
  </define>
  <define name="dateRuleContent">
    <element name="source_field">
      <attribute name="REF">
        <data type="IDREF"/>
      </attribute>
    </element>
    <element name="target_field">
      <attribute name="REF">
        <data type="IDREF"/>
      </attribute>
    </element>
    <element name="comparator">
      <attribute name="type">
        <data type="string"/>
      </attribute>
    </element>
  </define>
  <define name="semanticContent">
    <choice>
      <group>
        <attribute name="type">
          <value>title</value>
        </attribute>
        <element name="shortname">
          <data type="string"/>
        </element>
        <element name="label">
          <data type="string"/>
        </element>
        <element name="description">
          <data type="string"/>
        </element>
        <element name="field">
          <attribute name="REF">
            <data type="IDREF"/>
          </attribute>
        </element>
      </group>
      <group>
        <attribute name="type">
          <value>description</value>
        </attribute>
        <element name="shortname">
          <data type="string"/>
        </element>
        <element name="label">
          <data type="string"/>
        </element>
        <element name="description">
          <data type="string"/>
        </element>
        <element name="field">
          <attribute name="REF">
            <data type="IDREF"/>
          </attribute>
        </element>
      </group>
      <group>
        <attribute name="type">
          <value>status</value>
        </attribute>
        <element name="shortname">
          <data type="string"/>
        </element>
        <element name="label">
          <data type="string"/>
        </element>
        <element name="description">
          <data type="string"/>
        </element>
        <element name="field">
          <attribute name="REF">
            <data type="IDREF"/>
          </attribute>
        </element>
        <element name="open_values">
          <zeroOrMore>
            <element name="open_value">
              <attribute name="REF">
                <data type="IDREF"/>
              </attribute>
            </element>
          </zeroOrMore>
        </element>
      </group>
      <group>
        <attribute name="type">
          <value>contributor</value>
        </attribute>
        <element name="shortname">
          <data type="string"/>
        </element>
        <element name="label">
          <data type="string"/>
        </element>
        <element name="description">
          <data type="string"/>
        </element>
        <element name="field">
          <attribute name="REF">
            <data type="IDREF"/>
          </attribute>
        </element>
      </group>
      <group>
        <attribute name="type">
          <value>tooltip</value>
        </attribute>
        <zeroOrMore>
          <element name="field">
            <attribute name="REF">
              <data type="IDREF"/>
            </attribute>
          </element>
        </zeroOrMore>
      </group>
      <group>
        <attribute name="type">
          <value>initial_effort</value>
        </attribute>
        <element name="shortname">
          <data type="string"/>
        </element>
        <element name="label">
          <data type="string"/>
        </element>
        <element name="description">
          <data type="string"/>
        </element>
        <element name="field">
          <attribute name="REF">
            <data type="IDREF"/>
          </attribute>
        </element>
      </group>
      <group>
        <attribute name="type">
          <value>plugin_cardwall_card_fields</value>
        </attribute>
        <zeroOrMore>
          <element name="field">
            <attribute name="REF">
              <data type="IDREF"/>
            </attribute>
          </element>
        </zeroOrMore>
        <optional>
          <element name="background-color">
            <attribute name="REF">
              <data type="IDREF"/>
            </attribute>
          </element>
        </optional>
      </group>
      <group>
        <attribute name="type">
          <value>done</value>
        </attribute>
        <element name="shortname">
          <data type="string"/>
        </element>
        <element name="label">
          <data type="string"/>
        </element>
        <element name="description">
          <data type="string"/>
        </element>
        <element name="closed_values">
          <zeroOrMore>
            <element name="closed_value">
              <attribute name="REF">
                <data type="IDREF"/>
              </attribute>
            </element>
          </zeroOrMore>
        </element>
      </group>
      <group>
        <attribute name="type">
          <value>velocity</value>
        </attribute>
        <element name="shortname">
          <data type="string"/>
        </element>
        <element name="label">
          <data type="string"/>
        </element>
        <element name="description">
          <data type="string"/>
        </element>
        <element name="field">
          <attribute name="REF">
            <data type="IDREF"/>
          </attribute>
        </element>
      </group>
      <group>
        <attribute name="type">
          <value>timeframe</value>
        </attribute>
        <element name="start_date_field">
          <attribute name="REF">
            <data type="IDREF"/>
          </attribute>
        </element>
        <element name="duration_field">
          <attribute name="REF">
            <data type="IDREF"/>
          </attribute>
        </element>
      </group>
      <group>
        <attribute name="type">
          <value>timeframe</value>
        </attribute>
        <element name="start_date_field">
          <attribute name="REF">
            <data type="IDREF"/>
          </attribute>
        </element>
        <element name="end_date_field">
          <attribute name="REF">
            <data type="IDREF"/>
          </attribute>
        </element>
      </group>
      <group>
        <attribute name="type">
          <value>timeframe</value>
        </attribute>
        <element name="inherited_from_tracker">
          <!-- This attribute cannot use IDREF because it is not possible to always assure the presence of the tracker involved within the XML document -->
          <attribute name="id">
            <data type="string"/>
          </attribute>
        </element>
      </group>
      <group>
        <attribute name="type">
          <value>progress</value>
        </attribute>
        <choice>
          <group>
            <element name="total_effort_field">
              <attribute name="REF">
                <data type="IDREF"/>
              </attribute>
            </element>
            <element name="remaining_effort_field">
              <attribute name="REF">
                <data type="IDREF"/>
              </attribute>
            </element>
          </group>
          <element name="artifact_link_type">
            <attribute name="shortname">
              <data type="string"/>
            </attribute>
          </element>
        </choice>
      </group>
    </choice>
  </define>
  <define name="reportContent">
    <optional>
      <!-- these attributes should be optional and have  default values -->
      <attribute name="is_default">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is false -->
      <attribute name="is_query_displayed">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is true -->
      <attribute name="is_in_expert_mode">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is false -->
      <attribute name="expert_query">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <!-- these ids are initial ids of the exported report -->
      <attribute name="id">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="tracker_id">
        <data type="long"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="current_renderer_id">
        <data type="long"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="user_id">
        <data type="long"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="parent_report_id">
        <data type="long"/>
      </attribute>
    </optional>
    <element name="name">
      <data type="string"/>
    </element>
    <optional>
      <element name="description">
        <data type="string"/>
      </element>
    </optional>
    <element name="criterias">
      <zeroOrMore>
        <element name="criteria">
          <ref name="criteriaContent"/>
        </element>
      </zeroOrMore>
    </element>
    <element name="renderers">
      <zeroOrMore>
        <element name="renderer">
          <ref name="rendererContent"/>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="criteriaContent">
    <attribute name="rank">
      <data type="long"/>
    </attribute>
    <optional>
      <!-- these attributes should be optional and have  default values -->
      <attribute name="is_advanced">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!--
        default is false
        these ids are initial ids of the exported report
      -->
      <attribute name="id">
        <data type="long"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="report">
        <data type="long"/>
      </attribute>
    </optional>
    <element name="field">
      <attribute name="REF">
        <data type="IDREF"/>
      </attribute>
    </element>
    <optional>
      <element name="criteria_value">
        <ref name="reportValueContent"/>
      </element>
    </optional>
  </define>
  <define name="reportValueContent">
    <choice>
      <group>
        <attribute name="type">
          <value>text</value>
        </attribute>
        <data type="string"/>
      </group>
      <group>
        <attribute name="type">
          <value>list</value>
        </attribute>
        <optional>
          <element name="none_value">
            <empty/>
          </element>
        </optional>
        <zeroOrMore>
          <element name="selected_value">
            <attribute name="REF">
              <data type="IDREF"/>
            </attribute>
          </element>
        </zeroOrMore>
      </group>
    </choice>
  </define>
  <define name="rendererContent">
    <optional>
      <attribute name="ID">
        <data type="ID"/>
      </attribute>
    </optional>
    <element name="name">
      <data type="string"/>
    </element>
    <optional>
      <element name="description">
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <attribute name="id">
        <data type="long"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="report">
        <data type="long"/>
      </attribute>
    </optional>
    <attribute name="rank">
      <data type="long"/>
    </attribute>
    <choice>
      <group>
        <attribute name="type">
          <value>table</value>
        </attribute>
        <attribute name="chunksz">
          <data type="long"/>
        </attribute>
        <optional>
          <attribute name="multisort">
            <data type="long"/>
          </attribute>
        </optional>
        <optional>
          <!-- default is false -->
          <element name="columns">
            <zeroOrMore>
              <element name="field">
                <attribute name="REF">
                  <data type="IDREF"/>
                </attribute>
                <optional>
                  <attribute name="artlink-nature">
                    <data type="string"/>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="artlink-nature-format">
                    <data type="string"/>
                  </attribute>
                </optional>
              </element>
            </zeroOrMore>
          </element>
        </optional>
        <optional>
          <element name="sort">
            <zeroOrMore>
              <element name="field">
                <attribute name="REF">
                  <data type="IDREF"/>
                </attribute>
              </element>
            </zeroOrMore>
          </element>
        </optional>
      </group>
      <group>
        <attribute name="type">
          <value>plugin_graphontrackersv5</value>
        </attribute>
        <optional>
          <element name="charts">
            <zeroOrMore>
              <element name="chart">
                <attribute name="width">
                  <data type="long"/>
                </attribute>
                <attribute name="height">
                  <data type="long"/>
                </attribute>
                <attribute name="rank">
                  <data type="long"/>
                </attribute>
                <element name="title">
                  <data type="string"/>
                </element>
                <optional>
                  <element name="description">
                    <data type="string"/>
                  </element>
                </optional>
                <choice>
                  <group>
                    <attribute name="type">
                      <value>gantt</value>
                    </attribute>
                    <optional>
                      <attribute name="scale">
                        <data type="string"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="as_of_date">
                        <data type="string"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="start">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="due">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="finish">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="righttext">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="summary">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="percentage">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                  </group>
                  <group>
                    <attribute name="type">
                      <value>pie</value>
                    </attribute>
                    <optional>
                      <attribute name="base">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                  </group>
                  <group>
                    <attribute name="type">
                      <value>bar</value>
                    </attribute>
                    <optional>
                      <attribute name="base">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="group">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                  </group>
                  <group>
                    <attribute name="type">
                      <value>burnup</value>
                    </attribute>
                    <optional>
                      <attribute name="start_date">
                        <data type="string"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="duration">
                        <data type="long"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="remaining_field">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="done_field">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                  </group>
                  <group>
                    <attribute name="type">
                      <value>burndown</value>
                    </attribute>
                    <optional>
                      <attribute name="start_date">
                        <data type="string"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="duration">
                        <data type="long"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="effort_field">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                  </group>
                  <group>
                    <attribute name="type">
                      <value>cumulative_flow</value>
                    </attribute>
                    <optional>
                      <attribute name="start_date">
                        <data type="string"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="stop_date">
                        <data type="string"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="scale">
                        <data type="string"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="effort_field">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                  </group>
                </choice>
              </element>
            </zeroOrMore>
          </element>
        </optional>
      </group>
      <group>
        <attribute name="type">
          <value>plugin_cardwall</value>
        </attribute>
        <optional>
          <attribute name="field_id">
            <data type="IDREF"/>
          </attribute>
        </optional>
      </group>
    </choice>
  </define>
  <define name="non_empty_string">
    <data type="string">
      <param name="minLength">1</param>
      <param name="pattern">(\s*\S+\s*)+</param>
    </data>
  </define>
  <define name="lowercase_alphanum_non_empty_string">
    <data type="string">
      <param name="minLength">1</param>
      <param name="pattern">\s*[a-z0-9_\-]+\s*</param>
    </data>
  </define>
</grammar>
