src/common/xml/resources/project/tracker-definition.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="artifact-definition.rng"/>
  <include href="triggers.rng"/>
  <define name="trackers">
    <optional>
      <attribute name="use-natures">
        <data type="boolean"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <element name="tracker">
        <ref name="tracker"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="triggers">
        <ref name="triggers"/>
      </element>
    </optional>
    <optional>
      <element name="references">
        <zeroOrMore>
          <element name="reference">
            <interleave>
              <attribute name="source">
                <data type="string"/>
              </attribute>
              <attribute name="target">
                <data type="string"/>
              </attribute>
            </interleave>
          </element>
        </zeroOrMore>
      </element>
    </optional>
  </define>
  <define name="tracker">
    <optional>
      <!-- old ids -->
      <attribute name="id">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="parent_id">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="group_id">
        <data type="long"/>
      </attribute>
    </optional>
    <optional>
      <!-- these attributes should be optional and have default values -->
      <attribute name="allow_copy">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is false -->
      <attribute name="enable_emailgateway">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is false -->
      <attribute name="instantiate_for_new_projects">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is false -->
      <attribute name="log_priority_changes">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is false -->
      <attribute name="stop_notification">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is false -->
      <attribute name="is_folder">
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <!-- these elements are not used, they are provided by the user during the import -->
      <element name="name">
        <ref name="non_empty_string"/>
      </element>
    </optional>
    <optional>
      <element name="item_name">
        <data type="string">
          <param name="pattern">[a-zA-Z0-9_]+</param>
        </data>
      </element>
    </optional>
    <optional>
      <element name="description">
        <ref name="non_empty_string"/>
      </element>
    </optional>
    <optional>
      <element name="color">
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="submit_instructions">
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="browse_instructions">
        <data type="string"/>
      </element>
    </optional>
    <element name="cannedResponses">
      <zeroOrMore>
        <element name="cannedResponse">
          <optional>
            <attribute name="id">
              <data type="long"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="tracker">
              <data type="long"/>
            </attribute>
          </optional>
          <element name="title">
            <data type="string"/>
          </element>
          <element name="body">
            <data type="string"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
    <ref name="formElementsContent"/>
    <optional>
      <element name="semantics">
        <zeroOrMore>
          <element name="semantic">
            <ref name="semanticContent"/>
          </element>
        </zeroOrMore>
      </element>
    </optional>
    <optional>
      <element name="dependencies">
        <zeroOrMore>
          <element name="rule">
            <ref name="listRuleContent"/>
          </element>
        </zeroOrMore>
      </element>
    </optional>
    <optional>
      <element name="rules">
        <optional>
          <element name="date_rules">
            <zeroOrMore>
              <element name="rule">
                <ref name="dateRuleContent"/>
              </element>
            </zeroOrMore>
          </element>
        </optional>
        <optional>
          <element name="list_rules">
            <zeroOrMore>
              <element name="rule">
                <ref name="listRuleContent"/>
              </element>
            </zeroOrMore>
          </element>
        </optional>
      </element>
    </optional>
    <optional>
      <element name="reports">
        <zeroOrMore>
          <element name="report">
            <ref name="reportContent"/>
          </element>
        </zeroOrMore>
      </element>
    </optional>
    <zeroOrMore>
      <element name="workflow">
        <optional>
          <element name="field_id">
            <attribute name="REF">
              <data type="IDREF"/>
            </attribute>
          </element>
        </optional>
        <optional>
          <element name="is_used">
            <data type="long"/>
          </element>
        </optional>
        <optional>
          <element name="transitions">
            <zeroOrMore>
              <element name="transition">
                <ref name="transitionContent"/>
              </element>
            </zeroOrMore>
          </element>
        </optional>
      </element>
    </zeroOrMore>
    <optional>
      <element name="permissions">
        <zeroOrMore>
          <element name="permission">
            <optional>
              <attribute name="REF">
                <data type="IDREF"/>
              </attribute>
            </optional>
            <attribute name="scope">
              <choice>
                <value>tracker</value>
                <value>field</value>
              </choice>
            </attribute>
            <attribute name="ugroup">
              <data type="string"/>
            </attribute>
            <attribute name="type">
              <data type="string"/>
            </attribute>
          </element>
        </zeroOrMore>
      </element>
    </optional>
    <optional>
      <element name="artifacts">
        <ref name="artifacts"/>
      </element>
    </optional>
  </define>
  <define name="formElementsContent">
    <optional>
      <element name="formElements">
        <zeroOrMore>
          <element name="formElement">
            <ref name="formElementContent"/>
          </element>
        </zeroOrMore>
      </element>
    </optional>
  </define>
  <define name="formElementContent">
    <!-- ID is internal to the XML file -->
    <attribute name="ID">
      <data type="ID"/>
    </attribute>
    <attribute name="rank">
      <data type="long"/>
    </attribute>
    <optional>
      <!-- id is the initial id of the exported field -->
      <attribute name="id">
        <data type="long"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="tracker_id">
        <data type="long"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="parent_id">
        <data type="long"/>
      </attribute>
    </optional>
    <optional>
      <!-- these attributes should be optional and have  default values -->
      <attribute name="use_it">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is true -->
      <attribute name="scope">
        <choice>
          <value>S</value>
          <value>P</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is 'P' -->
      <attribute name="required">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is false -->
      <attribute name="notifications">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <!-- default is false -->
    <element name="name">
      <data type="string"/>
    </element>
    <element name="label">
      <data type="string"/>
    </element>
    <optional>
      <element name="description">
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="properties">
        <optional>
          <attribute name="maxchars">
            <data type="long"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="size">
            <data type="long"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="rows">
            <data type="long"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="cols">
            <data type="long"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="static_value">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="default_value">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="hint">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="target_field_name">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="fast_compute">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="use_capacity">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="include_weekends">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="display_time">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="use_cache">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </attribute>
        </optional>
      </element>
    </optional>
    <choice>
      <attribute name="type">
        <data type="string"/>
      </attribute>
      <group>
        <attribute name="type">
          <choice>
            <value>fieldset</value>
            <value>column</value>
          </choice>
        </attribute>
        <optional>
          <ref name="formElementsContent"/>
        </optional>
      </group>
      <group>
        <attribute name="type">
          <choice>
            <value>sb</value>
            <value>msb</value>
            <value>tbl</value>
            <value>cb</value>
            <value>rb</value>
          </choice>
        </attribute>
        <ref name="bindContent"/>
      </group>
    </choice>
  </define>
  <define name="bindContent">
    <element name="bind">
      <choice>
        <group>
          <attribute name="type">
            <value>static</value>
          </attribute>
          <attribute name="is_rank_alpha">
            <choice>
              <value>0</value>
              <value>1</value>
            </choice>
          </attribute>
        </group>
        <attribute name="type">
          <value>users</value>
        </attribute>
        <attribute name="type">
          <value>ugroups</value>
        </attribute>
      </choice>
      <optional>
        <element name="items">
          <zeroOrMore>
            <element name="item">
              <optional>
                <attribute name="ID">
                  <data type="ID"/>
                </attribute>
              </optional>
              <attribute name="label">
                <data type="string"/>
              </attribute>
              <optional>
                <attribute name="is_hidden">
                  <choice>
                    <value>0</value>
                    <value>1</value>
                  </choice>
                </attribute>
              </optional>
              <optional>
                <element name="description">
                  <data type="string"/>
                </element>
              </optional>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <element name="decorators">
          <zeroOrMore>
            <element name="decorator">
              <attribute name="REF">
                <data type="IDREF"/>
              </attribute>
              <choice>
                <ref name="decorator_legacy_color"/>
                <attribute name="tlp_color_name">
                  <data type="string"/>
                </attribute>
              </choice>
            </element>
          </zeroOrMore>
        </element>
      </optional>
      <optional>
        <element name="default_values">
          <zeroOrMore>
            <element name="value">
              <choice>
                <attribute name="REF">
                  <data type="IDREF"/>
                </attribute>
                <ref name="tracker_user_content"/>
              </choice>
            </element>
          </zeroOrMore>
        </element>
      </optional>
    </element>
  </define>
  <define name="decorator_legacy_color">
    <attribute name="r">
      <data type="long"/>
    </attribute>
    <attribute name="g">
      <data type="long"/>
    </attribute>
    <attribute name="b">
      <data type="long"/>
    </attribute>
  </define>
  <define name="transitionContent">
    <element name="from_id">
      <attribute name="REF">
        <data type="string"/>
      </attribute>
    </element>
    <element name="to_id">
      <attribute name="REF">
        <data type="string"/>
      </attribute>
    </element>
    <optional>
      <element name="postactions">
        <zeroOrMore>
          <element name="postaction_field_date">
            <attribute name="valuetype">
              <data type="long"/>
            </attribute>
            <element name="field_id">
              <attribute name="REF">
                <data type="IDREF"/>
              </attribute>
            </element>
          </element>
        </zeroOrMore>
        <zeroOrMore>
          <element name="postaction_field_int">
            <attribute name="value">
              <data type="long"/>
            </attribute>
            <element name="field_id">
              <attribute name="REF">
                <data type="IDREF"/>
              </attribute>
            </element>
          </element>
        </zeroOrMore>
        <zeroOrMore>
          <element name="postaction_field_float">
            <attribute name="value">
              <data type="float"/>
            </attribute>
            <element name="field_id">
              <attribute name="REF">
                <data type="IDREF"/>
              </attribute>
            </element>
          </element>
        </zeroOrMore>
        <zeroOrMore>
          <element name="postaction_ci_build">
            <attribute name="job_url">
              <data type="string"/>
            </attribute>
          </element>
        </zeroOrMore>
      </element>
    </optional>
    <choice>
      <ref name="conditionPermissionsContent"/>
      <optional>
        <element name="conditions">
          <optional>
            <element name="condition">
              <attribute name="type">
                <value>perms</value>
              </attribute>
              <ref name="conditionPermissionsContent"/>
            </element>
          </optional>
          <optional>
            <element name="condition">
              <attribute name="type">
                <value>notempty</value>
              </attribute>
              <ref name="conditionFieldNotEmptyContent"/>
            </element>
          </optional>
          <optional>
            <element name="condition">
              <attribute name="type">
                <value>commentnotempty</value>
              </attribute>
              <attribute name="is_comment_required">
                <choice>
                  <value>0</value>
                  <value>1</value>
                </choice>
              </attribute>
            </element>
          </optional>
        </element>
      </optional>
    </choice>
  </define>
  <define name="conditionPermissionsContent">
    <element name="permissions">
      <zeroOrMore>
        <element name="permission">
          <attribute name="ugroup">
            <data type="string"/>
          </attribute>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="conditionFieldNotEmptyContent">
    <oneOrMore>
      <element name="field">
        <attribute name="REF">
          <data type="IDREF"/>
        </attribute>
      </element>
    </oneOrMore>
  </define>
  <define name="listRuleContent">
    <element name="source_field">
      <attribute name="REF">
        <data type="IDREF"/>
      </attribute>
    </element>
    <element name="target_field">
      <attribute name="REF">
        <data type="IDREF"/>
      </attribute>
    </element>
    <element name="source_value">
      <choice>
        <attribute name="REF">
          <data type="IDREF"/>
        </attribute>
        <attribute name="is_none">
          <value>1</value>
        </attribute>
      </choice>
    </element>
    <element name="target_value">
      <choice>
        <attribute name="REF">
          <data type="IDREF"/>
        </attribute>
        <attribute name="is_none">
          <value>1</value>
        </attribute>
      </choice>
    </element>
  </define>
  <define name="dateRuleContent">
    <element name="source_field">
      <attribute name="REF">
        <data type="IDREF"/>
      </attribute>
    </element>
    <element name="target_field">
      <attribute name="REF">
        <data type="IDREF"/>
      </attribute>
    </element>
    <element name="comparator">
      <attribute name="type">
        <data type="string"/>
      </attribute>
    </element>
  </define>
  <define name="semanticContent">
    <choice>
      <group>
        <attribute name="type">
          <value>title</value>
        </attribute>
        <element name="shortname">
          <data type="string"/>
        </element>
        <element name="label">
          <data type="string"/>
        </element>
        <element name="description">
          <data type="string"/>
        </element>
        <element name="field">
          <attribute name="REF">
            <data type="IDREF"/>
          </attribute>
        </element>
      </group>
      <group>
        <attribute name="type">
          <value>description</value>
        </attribute>
        <element name="shortname">
          <data type="string"/>
        </element>
        <element name="label">
          <data type="string"/>
        </element>
        <element name="description">
          <data type="string"/>
        </element>
        <element name="field">
          <attribute name="REF">
            <data type="IDREF"/>
          </attribute>
        </element>
      </group>
      <group>
        <attribute name="type">
          <value>status</value>
        </attribute>
        <element name="shortname">
          <data type="string"/>
        </element>
        <element name="label">
          <data type="string"/>
        </element>
        <element name="description">
          <data type="string"/>
        </element>
        <element name="field">
          <attribute name="REF">
            <data type="IDREF"/>
          </attribute>
        </element>
        <element name="open_values">
          <zeroOrMore>
            <element name="open_value">
              <attribute name="REF">
                <data type="IDREF"/>
              </attribute>
            </element>
          </zeroOrMore>
        </element>
      </group>
      <group>
        <attribute name="type">
          <value>contributor</value>
        </attribute>
        <element name="shortname">
          <data type="string"/>
        </element>
        <element name="label">
          <data type="string"/>
        </element>
        <element name="description">
          <data type="string"/>
        </element>
        <element name="field">
          <attribute name="REF">
            <data type="IDREF"/>
          </attribute>
        </element>
      </group>
      <group>
        <attribute name="type">
          <value>tooltip</value>
        </attribute>
        <zeroOrMore>
          <element name="field">
            <attribute name="REF">
              <data type="IDREF"/>
            </attribute>
          </element>
        </zeroOrMore>
      </group>
      <group>
        <attribute name="type">
          <value>initial_effort</value>
        </attribute>
        <element name="shortname">
          <data type="string"/>
        </element>
        <element name="label">
          <data type="string"/>
        </element>
        <element name="description">
          <data type="string"/>
        </element>
        <element name="field">
          <attribute name="REF">
            <data type="IDREF"/>
          </attribute>
        </element>
      </group>
      <group>
        <attribute name="type">
          <value>plugin_cardwall_card_fields</value>
        </attribute>
        <zeroOrMore>
          <element name="field">
            <attribute name="REF">
              <data type="IDREF"/>
            </attribute>
          </element>
        </zeroOrMore>
        <optional>
          <element name="background-color">
            <attribute name="REF">
              <data type="IDREF"/>
            </attribute>
          </element>
        </optional>
      </group>
      <group>
        <attribute name="type">
          <value>done</value>
        </attribute>
        <element name="shortname">
          <data type="string"/>
        </element>
        <element name="label">
          <data type="string"/>
        </element>
        <element name="description">
          <data type="string"/>
        </element>
        <element name="closed_values">
          <zeroOrMore>
            <element name="closed_value">
              <attribute name="REF">
                <data type="IDREF"/>
              </attribute>
            </element>
          </zeroOrMore>
        </element>
      </group>
      <group>
        <attribute name="type">
          <value>velocity</value>
        </attribute>
        <element name="shortname">
          <data type="string"/>
        </element>
        <element name="label">
          <data type="string"/>
        </element>
        <element name="description">
          <data type="string"/>
        </element>
        <element name="field">
          <attribute name="REF">
            <data type="IDREF"/>
          </attribute>
        </element>
      </group>
    </choice>
  </define>
  <define name="reportContent">
    <optional>
      <!-- these attributes should be optional and have  default values -->
      <attribute name="is_default">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is false -->
      <attribute name="is_query_displayed">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is true -->
      <attribute name="is_in_expert_mode">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!-- default is false -->
      <attribute name="expert_query">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <!-- these ids are initial ids of the exported report -->
      <attribute name="id">
        <data type="long"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="tracker_id">
        <data type="long"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="current_renderer_id">
        <data type="long"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="user_id">
        <data type="long"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="parent_report_id">
        <data type="long"/>
      </attribute>
    </optional>
    <element name="name">
      <data type="string"/>
    </element>
    <optional>
      <element name="description">
        <data type="string"/>
      </element>
    </optional>
    <element name="criterias">
      <zeroOrMore>
        <element name="criteria">
          <ref name="criteriaContent"/>
        </element>
      </zeroOrMore>
    </element>
    <element name="renderers">
      <zeroOrMore>
        <element name="renderer">
          <ref name="rendererContent"/>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="criteriaContent">
    <attribute name="rank">
      <data type="long"/>
    </attribute>
    <optional>
      <!-- these attributes should be optional and have  default values -->
      <attribute name="is_advanced">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <!--
        default is false
        these ids are initial ids of the exported report
      -->
      <attribute name="id">
        <data type="long"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="report">
        <data type="long"/>
      </attribute>
    </optional>
    <element name="field">
      <attribute name="REF">
        <data type="IDREF"/>
      </attribute>
    </element>
  </define>
  <define name="rendererContent">
    <element name="name">
      <data type="string"/>
    </element>
    <optional>
      <element name="description">
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <attribute name="id">
        <data type="long"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="report">
        <data type="long"/>
      </attribute>
    </optional>
    <attribute name="rank">
      <data type="long"/>
    </attribute>
    <choice>
      <group>
        <attribute name="type">
          <value>table</value>
        </attribute>
        <attribute name="chunksz">
          <data type="long"/>
        </attribute>
        <optional>
          <attribute name="multisort">
            <data type="long"/>
          </attribute>
        </optional>
        <optional>
          <!-- default is false -->
          <element name="columns">
            <zeroOrMore>
              <element name="field">
                <attribute name="REF">
                  <data type="IDREF"/>
                </attribute>
                <optional>
                  <attribute name="artlink-nature">
                    <data type="string"/>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="artlink-nature-format">
                    <data type="string"/>
                  </attribute>
                </optional>
              </element>
            </zeroOrMore>
          </element>
        </optional>
        <optional>
          <element name="sort">
            <zeroOrMore>
              <element name="field">
                <attribute name="REF">
                  <data type="IDREF"/>
                </attribute>
              </element>
            </zeroOrMore>
          </element>
        </optional>
      </group>
      <group>
        <attribute name="type">
          <value>plugin_graphontrackersv5</value>
        </attribute>
        <optional>
          <element name="charts">
            <zeroOrMore>
              <element name="chart">
                <attribute name="width">
                  <data type="long"/>
                </attribute>
                <attribute name="height">
                  <data type="long"/>
                </attribute>
                <attribute name="rank">
                  <data type="long"/>
                </attribute>
                <element name="title">
                  <data type="string"/>
                </element>
                <optional>
                  <element name="description">
                    <data type="string"/>
                  </element>
                </optional>
                <choice>
                  <group>
                    <attribute name="type">
                      <value>gantt</value>
                    </attribute>
                    <optional>
                      <attribute name="scale">
                        <data type="string"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="as_of_date">
                        <data type="string"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="start">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="due">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="finish">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="righttext">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="summary">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="percentage">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                  </group>
                  <group>
                    <attribute name="type">
                      <value>pie</value>
                    </attribute>
                    <optional>
                      <attribute name="base">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                  </group>
                  <group>
                    <attribute name="type">
                      <value>bar</value>
                    </attribute>
                    <optional>
                      <attribute name="base">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="group">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                  </group>
                  <group>
                    <attribute name="type">
                      <value>burnup</value>
                    </attribute>
                    <optional>
                      <attribute name="start_date">
                        <data type="string"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="duration">
                        <data type="long"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="remaining_field">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="done_field">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                  </group>
                  <group>
                    <attribute name="type">
                      <value>burndown</value>
                    </attribute>
                    <optional>
                      <attribute name="start_date">
                        <data type="string"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="duration">
                        <data type="long"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="effort_field">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                  </group>
                  <group>
                    <attribute name="type">
                      <value>cumulative_flow</value>
                    </attribute>
                    <optional>
                      <attribute name="start_date">
                        <data type="string"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="stop_date">
                        <data type="string"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="scale">
                        <data type="string"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="effort_field">
                        <data type="IDREF"/>
                      </attribute>
                    </optional>
                  </group>
                </choice>
              </element>
            </zeroOrMore>
          </element>
        </optional>
      </group>
      <group>
        <attribute name="type">
          <value>plugin_cardwall</value>
        </attribute>
        <optional>
          <attribute name="field_id">
            <data type="IDREF"/>
          </attribute>
        </optional>
      </group>
    </choice>
  </define>
  <define name="non_empty_string">
    <data type="string">
      <param name="minLength">1</param>
      <param name="pattern">(\s*[^\s+]\s*)+</param>
    </data>
  </define>
</grammar>
